<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="headerFragment">
        <div class="navbar bg-neutral fixed inset-x-0 top-0 px-11 z-50">
            <div class="navbar-start">
                <a th:href="@{/}" class="btn btn-primary btn-sm">Home</a>
            </div>
            <div class="navbar-center"></div>

            <div class="navbar-end space-x-2">
                <div class="btn-group">
                    <a th:href="@{/message}" class="btn btn-primary btn-sm">message</a>
                    <a th:href="@{/myPage}" class="btn btn-primary btn-sm">mypage</a>
                    <a th:href="@{/config}" class="btn btn-primary btn-sm">config</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/users}" class="btn btn-primary btn-sm">signup</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-primary btn-sm">login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary btn-sm">logout</a>
                </div>
            </div>
        </div>
    </header>

</html>