<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

    <head>
        <title>login</title>
    </head>

    <body>
        <section layout:fragment="content">
            <div class="hero min-h-screen bg-base-200">
                <div class="hero-content flex-col space-y-4 w-[30rem]">

                    <div class="text-center">
                        <h1 class="text-5xl font-bold">로그인을 해주세요!</h1>
                    </div>

                    <div class="card flex-shrink-0 w-full shadow-2xl bg-base-100">
                        <form th:action="@{/login_proc}" method="POST" th:object="${loginForm}"  class="card-body">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                            <!-- username -->
                            <div class="form-control">
                                <label th:for="*{username}" class="label">
                                    <span  class="label-text">사용자 이름</span>
                                </label>
                                <input th:field="*{username}" type="text" placeholder="사용자 이름" class="input input-bordered" />
                            </div>

                            <!-- password -->
                            <div class="form-control">
                                <label th:for="*{password}" class="label">
                                    <span  class="label-text">비밀번호</span>
                                </label>
                                <input th:field="*{password}" type="password" placeholder="비밀번호" class="input input-bordered" />
                            </div>

                            <!-- login button -->
                            <div class="form-control mt-6">
                                <label class="label">
                                    <a href="#" class="label-text-alt link link-hover">비밀번호를 잊으셨나요?</a>
                                </label>
                                <button type="submit" class="btn btn-primary">가입하기</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
